/*soft reset do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/background2.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 12px;
}
/*se a tela tiver pelo menos 400px usará esse estilo */
@media(min-width: 400px){
    body{
        font-size: 14px; 
    }
}
/* breakpoint */
@media(min-width: 600px){
    body{
        font-size: 18px; 
    }
}

@media(min-width: 1200px){
    body{
        font-size: 22px; 
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu{
    background-color: #0A2463;
    position: fixed;
    
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul{
    
    display: flex;
    justify-content: space-around;
    list-style: none;
}

menu.li{
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    background: #0A2463;
    transition: background-color 2s; 
}

.menu a:hover{
    background-color: #96939B;

}
a{
    text-decoration: none;
   
    color: whitesmoke;

}

a:hover{
    text-decoration: underline;
    
}


.site-title
,.site-subtitle{
    color: antiquewhite;
    text-align: center;
    
}

.site-title{
    font-size: 4em;
    font-family: 'Abril Fatface', cursive;
}

.site-subtitle{
    font-family: 'Merienda', cursive;
    line-height: 2.2em;
}

.sobre,
.contato,
.portfolio{
    padding: 2em; 
    min-height: 100vh;
    
}

@media(min-width){
    .container{
        margin-left: auto;
        margin-right: auto;
        min-width: 1200 px;
    }
}

@media (min-width: 1200 px){
    .sobre,
    .contato,
    .portfolio{
    padding: 2em; 
    min-height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

}

.sobre h2,
.contato h2,
.portfolio h2{
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;

}

.sobre p {
    color: white;
    margin-bottom: 2.5;
    text-indent: 1em;
    text-align: start;
}

.sobre a{
    color: #96939B;
}

.sobre .img-text-perfil img{
    height: 20;
    width: 100%;
    float:left;   
    margin-right: 2em;
    margin-top: 0.1;
    border-radius: 36%;
}

.img-text-perfil{
    height: 25px;
    width: 180px;
}


.sobre footer p{
    text-align: center;
    font-style: italic;
}
.portfolio .grid{
    display:grid;
    gap: 2em;
    
}



@media(min-width: 560px){
    .portfolio .grid{
        grid-template-columns: 240px 240px ;
    }
}

@media(min-width: 880px){
    .portfolio .grid{
        grid-template-columns: repeat(3, 240);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

.portfolio figure{
    text-align: center;
}

.img-portfolio{
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
}

.img-portfolio:active,
.img-portfolio:hover{
     transform:scale(1.2); 
    
}


.img-perfil{
    height: 180px;
    width: 240px;
    border-radius: 50px;   
    margin-left: auto;
    margin-right: auto;
    display: flex;    
    object-fit: cover;
    object-position: left ;
}


.img-perfil:active,
.img-perfil:hover{
    /*transform: scale(1.2); */
    animation: linear 1s animation forwards;
}

@keyframes animation{
    0%{

    }
    100%{
        height: 240px;
        width: 300px;
    }
}

@media(min-width: 1200px){
    .img-portfolio{
        height: auto;
        width: 100%;
    }
}



.contato .icons{
    text-align: center;
}

.contato a{
    
    font-size: 4em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px #96939B;
}