/*soft reset do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 12px;
}
/*se a tela tiver pelo menos 400px usará esse estilo */
@media(min-width: 400px){
    body{
        font-size: 14px; 
    }
}
/* breakpoint */
@media(min-width: 600px){
    body{
        font-size: 18px; 
    }
}

@media(min-width: 1200px){
    body{
        font-size: 22px; 
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu{
    background-color: aliceblue;
    position: fixed;
    
    width: 100vw;
    top: 0;
}

.menu ul{
    
    display: flex;
    justify-content: space-around;
    list-style: none;
}

menu.li{
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    background: aquamarine;
}

.menu a:hover{
    background-color: black;
}
a{
    text-decoration: none;
    color: teal;

}

a:hover{
    text-decoration: underline;
    
}


.site-title
,.site-subtitle{
    color: antiquewhite;
    text-align: center;
    
}

.site-title{
    font-size: 4em;
    font-family: 'Abril Fatface', cursive;
}

.site-subtitle{
    font-family: 'Merienda', cursive;
    line-height: 2.2em;
}

.portfolio{
    padding: 2em; 
    height: 100vh;
}

.portfolio h2{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 2em;
    font-size: 2em;
}

.portfolio .grid{
    display:grid;
    gap: 2em;
    
}

@media(min-width: 560px){
    .portfolio .grid{
        grid-template-columns: 240px 240px ;
    }
}

@media(min-width: 880px){
    .portfolio .grid{
        grid-template-columns: repeat(3, 240);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

.portfolio figure{
    text-align: center;
}

.img-portfolio{
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
}

.img-perfil{
    height: 180px;
    width: 240px;
    border-radius: 50px;   
    margin: 0 auto;
    display: flex;
    align-items: center;
    object-fit: cover;
    object-position: left ;
}

@media(min-width: 1200px){
    .img-portfolio{
        height: auto;
        width: 100%;
    }
}


